<div class="sheet_title"><%= task.name %></div>
<%= Tag.string_for(task) %>
<% unless task.description.blank? %><label><%= t(:description)%></label><div class="field_value"><%= task.description %></div><% end %>
<label><%= t('.from')%></label><div class="field_value"><%= task.user.name %></div>
<label><%= t('.whom')%></label><div class="field_value"><%= task.recipient.name %></div>
<label><%= t(:completion_time)%></label><div class="field_value"><%= task.timestamp %></div>
<label><%= t(:visible) %></label><div class="field_value"><%= loc_tdc(task.visible? ? :yes_ : :no_) %></div>
<% if task.parent %>
  <%= render :partial => 'shared/tasks/parent', :locals => {:item => task} %>
<% else %>
  <%= render :partial => 'shared/tasks/children', :locals => {:item => task} %>
<% end %>
<%= render :partial => 'shared/comments/my_comments', :locals => {:owner => task} %>
<%= render(:partial => 'shared/buttons', :locals => {:item => task, :owner => owner, :buttons => [:edit,:delete,:cancel]}) if owner %>