<%
  url, method = get_url_and_method(contact)
%>
<div class="sheet_title"><%= contact.new_record? ? t(:new_company) : contact.formated_name %></div>
<% semantic_form_for :company, contact, :url => url, :html => {:method => method, :target => 'target_frame', :multipart => true} do |form| %>
  <% form.inputs do %>
    <%= form.input :given_name %>
    <%= render :partial => 'shared/addeble', :locals => {:view => 'shared/addeble/contact_item', :model => contact, :items => :phones} %>
    <%= render :partial => 'shared/addeble', :locals => {:view => 'shared/addeble/contact_item', :model => contact, :items => :emails} %>
    <%= render :partial => 'shared/addeble', :locals => {:view => 'shared/addeble/tag', :model => contact, :items => :tags, :auto_add => true} %>
    <%= render :partial => 'shared/hideble',
      :locals => {
        :title    => t(:additional_info),
        :visible  => contact.additional_info?,
        :content  => "
          #{form.input :family_name, :required => false}
          #{FuzzyHelper.input_tag :object => contact, :method => :bank, :fields => 'given_name', :label => t('activerecord.attributes.company.bank')}
          #{form.input :rs, :required => false}
          #{form.input :inn, :required => false}
          #{form.input :kpp, :required => false}
          #{form.input :ogrn, :required => false}
          #{FuzzyHelper.input_tag :object => contact, :method => :parent, :models => 'company', :fields => 'given_name', :label => t('activerecord.attributes.company.parent')}
          #{form.input :discount, :as => :select, :collection => contact.account.discounts, :required => false}
          #{render :partial => 'shared/addeble', :locals => {:view => 'shared/addeble/contact_item', :model => contact, :items => :urls}}
          #{render :partial => 'shared/addeble', :locals => {:view => 'shared/addeble/address', :model => contact, :items => :addresses}}
          #{form.input :photo, :label => t(:select_image), :as => :file, :required => false}
          #{form.input :visible, :label => t(:visible), :required => false}"} %>
  <% end %>
<% end %>