<%
  buttons = [:cancel] + (account.director? ? [] : [:edit, :delete])
%>
<div class="sheet_title"><%=h account.name %></div>
<label><%= t(:subdomain) %></label><%=h account.subdomain %><br />
<label><%= t(:created) %></label><%= I18n.l(account.created_at, :format => "%a, %d %b %Y") %><br />
<label><%= t(:expiry) %></label><%= I18n.l(account.end_time, :format => "%a, %d %b %Y") %><br />
<label><%= t(:default_lang) %></label><%= locale_name(account.settings.locale) %><br />
<label><%= t(:tariff_plan) %></label><%= account.tariff_plan.formatted_name{|x| loc_tdc(x)} %><br />
<% if statistic %>
  <label><%= t(:active_records) %></label><%= statistic[:active_records] %><br />
  <label><%= t(:deleted_records) %></label><%= statistic[:deleted_records] %><br />
<% else %>
  <%= link_to_remote t(:show_statistic), :url => account_path(account), :method => :get, :with => "'statistic=1'" %><br />
<% end %>
<%= render :partial => 'shared/hideble',
  :locals => {
    :title          => t(:admins),
    :size           => account.admins.size,
    :visible        => false,
    :title_class    => 'small bold',
    :content        => render(:partial => "shared/accounts/admin", :collection => account.admins)} %>
<% users = account.users - account.admins %>
<%= render :partial => 'shared/hideble',
  :locals => {
    :title          => t(:users),
    :size           => users.size,
    :visible        => false,
    :title_class    => 'small bold',
    :content        => render(:partial => "shared/accounts/user", :collection => users)} %>
<%= render :partial => 'shared/buttons', :locals => {:item => account, :buttons => buttons} %>