<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <title><%= "#{current_user.account(true).name} - " if current_user %><%= t(:default_title) %> <%= yield(:title) %></title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <% if signed_in? %>
      <%= javascript_include_tag(
        'jquery',
        'jrails',
        'jquery-ui',
        'jquery.rest_in_place',
        'jquery.colorbox',
        'application',
        'fuzzy',
        'feedback',
        'for_delete/plugins/buttons/buttons',
        'for_delete/plugins/info_block/info_block',
        'for_delete/plugins/popup/popup') %>
      <%= stylesheet_link_tag(
        'style',
        'reports',
        'jquery-ui',
        'formtastic',
        'formtastic_changes',
        'colorbox',
        'color_schemes',
        "schemes/color_scheme_#{current_user.settings.scheme}",
        'feedback',
        'for_delete/stylesheets/global/global',
        'for_delete/stylesheets/global/global.link',
        'for_delete/stylesheets/global/global.reset',
        'for_delete/stylesheets/layout/l-page',
        'for_delete/stylesheets/blocks/footer/footer',
        'for_delete/stylesheets/blocks/top_panel/top_panel',
        'for_delete/stylesheets/blocks/tabs/tabs',
        'for_delete/stylesheets/blocks/navi/navi',
        'for_delete/stylesheets/blocks/filter_bar/filter_bar',
        'for_delete/stylesheets/blocks/positions/positions',
        'for_delete/plugins/buttons/buttons',
        'for_delete/plugins/info_block/info_block',
        'for_delete/plugins/popup/popup') %>
    <% else %>
      <%= stylesheet_link_tag 'login_form' %>
    <% end %>
  </head>
  <body>
    <% if signed_in? %>
      <%= render :partial => 'layouts/top_panel' %>
      <%= render :partial => 'layouts/tabs' %>
      <%= render :partial => 'layouts/navi' %>
      <%= render :partial => 'layouts/iframes' %>
    <% end %>
    <%= yield %>
    <% if signed_in? %>
      <%= render :partial => 'layouts/footer' %>
      <%= render :partial => 'layouts/messages' %>
      <%= render :partial => 'feedback/form' %>
    <% end %>
    <%= render :partial => 'shared/hint', :locals => {:hint => nil} %>
  </body>
</html>